{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
<div class="container detailCont">
    <h1>{{ post.title }}</h1>
    <h2>{{ post.subtitle }}</h2>
    <h5>By: {{ post.author }}</h5>
    <h6>Created on: {{ post.created_on }}</h6>
    <p>{{ post.body }}</p>
    {% if user.is_authenticated %}
        {% if post.author.username == user.username %}
            <p class="updateDelete">
                <a href="{% url 'edit' post.id %}"">Update</a>
                <a href="{% url 'delete'  post.id %}">Delete</a>
            </p>
        {% endif %}
    {% endif %}
</div>

{% endblock content %}