
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: azure;
}
.navbar{
    background-color: #5C8984 !important;
    position: relative;
}
.navbar li:hover{
    background-color: #7fbab3;
    opacity: .9;
}
.navbar .liRight1{
    position: absolute;
    right: 75px;
}
.navbar .liRight2{
    position: absolute;
    right: 143px;
}
.navbar .liRight3{
    position:absolute;
    right:77px;
}
main{
    z-index: 0;
}


/*Home Page*/
.homeCont{
    position: relative;
}
.pageTitle{
    position:absolute;
    font-size: 6rem;
    text-align: center;
    width: 100%;
    color: whitesmoke;
    top: 100px;
}
.homeCont img{
    position: absolute;
    border: 5px solid #5C8984;
    width: 100%;
    opacity: .9;
    top: 15px;
    object-fit: cover;
    max-height:100vh;
}
.homeCont h2{
    position: absolute;
    top: 240px;
    text-align: center;
    color: whitesmoke;
    width: 100%;
    text-shadow: 2px 2px black;
}

/*About Page*/
.aboutCont{
    
    position: relative;
  
}
.aboutCont img{
    position: absolute;
    border: 5px solid #5C8984;
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
    opacity: .9;
    top: 15px;
}
.aboutCont h1{
    font-size: 4rem;
    text-align: center;
    margin: 10px;
    position: absolute;
    top: 50px;
    left: 40%;
    color: white;
    text-shadow: 1px 1px black;
    
}
.aboutCont p{
    border: 5px solid #5C8984;
    padding: 20px;
    font-size: 1.3rem;
    background-color: white;
    opacity: .8;
    text-align: center;
    width: 70%;
    margin: auto;
    position: absolute;
    top: 200px;
    left: 18%;
    text-shadow: 1px 1px black .8;
}


/*Posts Page*/
.listCont h1{
    text-align: center;
    font-size: 4rem;
}
.postCont{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.postCont .card{
    max-width: 28%;
    max-height: 450px;
    margin: 20px;
}
.postCont .card-body{
    position: relative;
    height: 460px;
}
.postCont .card-title{
    text-align: center;
    height: 55px;
}
.postCont .card-text{
    height: 65%;
    overflow:auto;
    padding: 10px;
}
.card .card-link{
    position: absolute;
    bottom: 10px;
}

/*Create Page*/
.createCont h1{
    text-align: center;
}
.createCont form{
    width: 60% !important;
    margin: auto !important;
    border: 5px solid #5C8984;
    padding: 20px;
}
.createCont form label{
    font-weight: bold !important;
}
.createCont form input{
    width: 80%;
    margin: auto;
}
.createCont form textarea{
    width: 80%;
    height: 225px;
    margin: auto;
}
.createCont form .btn{
    width: 35%;
    margin: auto;
}

/*Detail Page*/
.detailCont h1{
    text-decoration: underline;
}
.detailCont h2{
    font-size: 1.7rem;
}
.detailCont h6{
    font-style: italic;
    font-size: .9rem;
}

/*Edit Page*/
.editCont h1{
    text-align: center;
}
.editCont form{
    width: 60% !important;
    margin: auto !important;
    border: 5px solid #5C8984;
    padding: 20px;
    
}
.editCont form label{
    font-weight: bold !important;
}
.editCont form input{
    width: 80%;
    margin: auto;
}
.editCont form textarea{
    width: 80%;
    height: 225px;
    margin: auto;
}
.editCont form .btn{
    width: 35%;
    margin: auto;

}

/*Delete Page*/
.deleteCont{
    margin-top: 25px;
}

/*Logged Out Page*/
.logOutCont{
    margin-top: 25px;
  
}

/*Login Page*/
.loginCont{
    width: 25%;
    margin: 30px auto;
   
}
.loginCont h1{
    text-align: center;
    margin-bottom: 15px;
    font-size: 4rem;
}
.loginCont form{
    width: 100%;
    margin: auto;
    display: relative;
    border: 5px solid #5C8984;
    padding: 25px;
    background-color: white;
}
.loginCont form label{
    display: block;
    text-align: center;
    margin: auto;
    padding: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}
.loginCont form input{
    width: 65%;
    margin: auto;
}
.loginCont form .btn{
    width: 25%;
    display:block;
}
.loginCont .reset{
    text-align: center;
    padding-top:10px ;
    margin: 5px;
}

/*Password Change Page*/
.passChangeCont{
    width: 45%;
    margin: 30px auto;
}
.passChangeCont form{
    border: 5px solid #5C8984;
    padding: 25px;
    background-color: white;
}
.passChangeCont form label{
    font-weight: bold;
}
.passChangeCont form li{
    font-style: italic;
}

/*Sign Up Cont*/
.signupCont{
    width: 45%;
    margin: 20px auto;
}
.signupCont h1{
    text-align: center;
    font-size: 3.2rem;
}
.signupCont form{
    border: 5px solid #5C8984;
    padding: 25px;
    background-color: white;
}
.signupCont form label{
    font-weight: bold;
}
.signupCont form li{
    font-style: italic;
}

/*Reset Form Page*/
.resetCont{
    width:45%;
    margin: 30px auto;

}
.resetCont form label{
    font-size: 1.5rem;
    font-weight: bold;
}

.resetDone{
    margin-top: 60px;
    text-align: center;
}